@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.flipbook {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  padding: 0;
  border: 2px solid red;
}

.flipbook .hard {
  /* background: #c0392b !important; */
  color: #000;
  font-weight: bold;
  border: none;
}

.flipbook .hard small {
  font-style: italic;
  font-weight: lighter;
  opacity: 0.7;
  font-size: 14px;
  color: #000;
}

.flipbook .page {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.11);
  overflow: hidden;
}

.flipbook .page.image-page {
  padding: 0;
  display: block;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block;
}

.flipbook .page small {
  font-size: 14px;
  margin-bottom: 10px;
}